<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Add in the following and make it configurable :-->
    <!-- List of keys: e.g (key == "enter")-->
    <!-- @"..\file_monitor.txt", true);-->
    <!--string FileName = "../logfolder_" + folderdir.ToString()+"/log_"+filedir.ToString()+".txt";-->
    <add key="key_timestampformat" value="dd-MM-yyyy HH:mm:ss"/>
    <add key="key_fileroot" value="../"/>
    <add key="key_filesizelimit" value="1000000"/>
    <add key="key_enter" value ="enter"/>
    <add key="key_oemperiod" value="."/>
    <add key="key_oemcomma"  value=","/>
    <add key="key_oemminus"  value="-"/>
    <add key="key_oemplus"  value="+"/>
    <add key="key_oempipe" value="|"/>
    <add key="key_oemquestion" value="?"/>
    <add key="key_oem1"  value=";"/>
    <add key="key_oem5"  value="\\"/>
    <add key="key_oem6"  value="]"/>
    <add key="key_oemopenbrackets" value="["/>
    <add key="key_oemsemicolon" value=";"/>
    <add key="key_oemtilde" value="`"/>
    <add key="key_space"  value=" "/>
    <add key="key_d0"  value="0"/>
    <add key="key_d1"  value="1"/>
    <add key="key_d2" value="2"/>
    <add key="key_d3" value="3"/>
    <add key="key_d4"  value="4"/>
    <add key="key_d5"  value="5"/>
    <add key="key_d6"  value="6"/>
    <add key="key_d7" value="7"/>
    <add key="key_d8"  value="8"/>
    <add key="key_d9"  value="9"/>
    <add key="key_down" value="down"/>
    <add key="key_up" value="up"/>
    <add key="key_left" value="left"/>
    <add key="key_right" value="right"/>
    <add key="key_caps" value="CAPS"/>
    <add key="key_lmenu" value="Alt"/>
    <add key="key_escape" value="true"/>
    <!-- When the user pressed escape, it should automatically close the application-->
  </appSettings>
</configuration>